* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: "Sen", san-serif;
}

/* để dùng font chữ đơn vị rem */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* ========= CSS FOR COMMON PARTS ========= */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    text-decoration: none;
    padding: 17px 34px;
    background: var(--primary-color);
    border-radius: 32px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */

    text-align: center;

    color: #ffffff;
}

/* Limit lines */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-word {
    word-break: break-word;
}

/* ========= HEADER ========= */
.fixed-header {
    background-color: #fffcf4;
    padding-top: 36px;
    position: sticky;
    top: -10px;
    z-index: 1;
}
.fixed-header .body {
    display: flex;
    align-items: center;
    padding-bottom: 26px;
}

.fixed-header .nav {
    display: flex;
    margin-left: auto;
}

.fixed-header .nav ul {
    display: flex;
}

.fixed-header .nav a {
    position: relative;
    text-decoration: none;
    padding-left: 42px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */

    color: #5f5b53;
}

.fixed-header .nav a:hover {
    font-weight: 600;
    /* font-size: 1.6rem;
    line-height: 1.75; */
    /* identical to box height, or 175% */
    color: #171100;
}

.fixed-header .nav a:hover::after {
    position: absolute;
    left: 42px;
    bottom: -2px;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.fixed-header .action .btn {
    margin-left: 70px;
    text-decoration: none;
    padding: 11px 41px;
    background-color: #171100;
    border-radius: 24.5px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */
    text-align: center;
    color: #ffffff;
}

.fixed-header .action .btn:hover {
    opacity: 0.7;
}

/* ========= HERO ========= */
.hero-wrap {
    background: #fffcf4;
}
.hero-wrap .main-content {
    display: flex;
}

.hero-wrap .photo-block {
    width: 50%;
}

.hero-wrap .photo-block {
    position: relative;
}

.hero-wrap .hero-photo {
    margin-top: 60px;
    background-image: url("https://images.unsplash.com/photo-1539343915366-4da26f7a1f2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    max-width: 470px;
    height: 685px;
    background-size: 680px;
    background-position: 60% 0%;
    border-radius: 20px;
}

/* .hero-wrap .hero-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
} */

.hero-wrap .photo-block .hero-card {
    padding: 24px 24px 58px 24px;
    position: absolute;
    left: 310px;
    top: 448px;
    width: 270px;
    height: 244px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-wrap .hero-card .card-content {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
}

.hero-card .text-block {
    display: block;
    padding-left: 16px;
}

.hero-card .text-line-1 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    /* identical to box height, or 186% */

    color: #5f5b53;
}

.hero-card .text-line-2 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */

    color: #171100;
}

.hero-wrap .hero-content {
    margin-left: auto;
    margin-top: 124px;
    margin-bottom: 68px;
    width: 40.2%;
    margin-left: 19.7%;
}

.hero-content .hero-title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    /* or 117% */

    letter-spacing: -0.02em;

    color: #171100;
}

.hero-content .hero-details {
    margin-top: 22px;
    /* margin-bottom: 55px; */
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    /* or 167% */

    color: #5f5b53;
}

.hero-wrap .action {
    display: flex;
    margin-top: 38px;
    align-items: center;
}

/* .hero-content .action .btn {
    text-decoration: none;
    padding: 17px 34px;
    background: #ffb900;
    border-radius: 32px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
} */

.hero-content .action .btn:hover {
    opacity: 0.8;
}

.hero-content .watch-icon {
    margin-bottom: -16px;
    margin-left: 12px;
    margin-right: -2px;
}

.hero-content .watch-icon:hover {
    opacity: 0.5;
}

.hero-content .watch-video {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */
    /* text-align: center; */
    color: #171100;
}

.hero-content .watch-video:hover {
    opacity: 0.5;
}

.hero-content .hero-details-2 {
    margin-top: 48px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */

    color: #5f5b53;
}

.hero-stats {
    display: flex;
}
.stat-details {
    display: flex;
    align-items: baseline;
}

.stat-details:first-child {
    margin-right: 28px;
}

.hero-stats .stat-details .stats {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    /* identical to box height, or 123% */

    color: #171100;
}

.hero-stats .stat-details .text {
    margin-left: 12px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */

    color: #5f5b53;
}

/* ========= COURSES ========= */
.courses-wrap {
    margin-top: 200px;
    margin-bottom: 200px;
}
.courses-wrap .main-content .title {
    font-family: var(--font-heading);
    font-style: normal;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    /* identical to box height, or 126% */

    letter-spacing: -0.02em;

    color: #171100;
}

.courses-wrap .main-content .text {
    margin-top: 16px;
    margin-bottom: 55px;
}

.courses-wrap .main-content .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    /* or 167% */
    color: #5f5b53;
}

.courses-wrap .main-content button {
    background-color: white;
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.courses-wrap .main-content button:hover {
    background-color: var(--primary-color);
    color: white;
}

.courses-wrap .main-content .back-icon {
    margin-right: 12px;
}

.main-content .row {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.courses-wrap .main-content .text {
    width: 39%;
}
.courses-wrap .courses-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses-wrap .course-each {
    max-width: 31.6%;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.courses-wrap .course-each:first-child {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    border: none;
}

.courses-wrap .course-img {
    max-width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.courses-wrap .course-img:hover {
    opacity: 0.8;
}

.courses-wrap .course-details {
    padding: 16px 22px 22px;
}

.courses-wrap .row-course {
    align-items: center;
}
.courses-wrap .course-title {
    padding-right: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.courses-wrap .course-title:hover {
    text-decoration: underline;
}

.courses-wrap .course-stars .number {
    font-weight: 400;
    font-size: 1.6rem;
    color: #fea31b;
}

.courses-wrap .course-stars .star-icon {
    margin-bottom: -2px;
}

.courses-wrap .course-desc {
    margin-top: 6px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.courses-wrap .course-price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.courses-wrap .course-each .btn {
    padding: 12px 24px;
    font-size: 14px;
    background-color: #171100;
}

.courses-wrap .course-each:first-child .btn {
    background-color: var(--primary-color);
}

.courses-wrap .course-each .btn:hover {
    opacity: 0.7;
}

.courses-wrap .row-price {
    margin-top: 12px;
    align-items: center;
}

/* ========= REVIEW ========= */
.review-wrap {
    background-color: #2e2100;
}

.review-wrap .main-content {
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
}

.review-wrap .student-info {
    width: 13.6%;
}

.review-wrap .student-photo {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.review-wrap .student-name {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.review-wrap .course-name {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.review-wrap .slide-dots {
    margin-top: 28px;
    display: flex;
}

.review-wrap .dot {
    margin-left: 6px;
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
}

.review-wrap .dot:first-child {
    margin-left: 0;
}

.review-wrap .active {
    background-color: var(--primary-color);
}

.review-wrap .review-quote {
    width: 66%;
}

.review-wrap .review-text {
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

.review-wrap .quote-icon {
    margin-left: -27px;
}

/* ========== FEATURES ========== */
.features-wrap {
    margin-top: 200px;
    padding-bottom: 100px;
}

.features-wrap .main-content {
    display: flex;
    justify-content: space-between;
}

.features-wrap .img-block {
    /* position: relative; */
    width: 49%;
    display: flex;
    justify-content: space-between;
}

.features-wrap .img-feature {
    /* position: absolute; */

    width: 47.3%;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features-wrap .img-feature:first-child {
    margin-top: 34px;
}

.features-wrap .text-block {
    width: 41%;
}

.features-wrap .title {
    margin-top: 58px;
    font-family: var(--font-heading);
    font-style: normal;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.features-wrap .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features-wrap .btn {
    display: inline-block;
    margin-top: 32px;
    padding: 11px 37px;
    font-size: 1.6rem;
}

.features-wrap .btn:hover {
    opacity: 0.7;
}

/* ========= CTA ========== */
.cta-wrap {
    margin-top: 100px;
    margin-bottom: 200px;
}

.cta-wrap .main-content {
    display: flex;
    justify-content: space-between;
}

.cta-wrap .text-block {
    width: 49%;
}

.cta-wrap .img-block {
    width: 41%;
}

.cta-wrap .img-feature {
    width: 100%;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.cta-wrap .title {
    margin-top: 58px;
    font-family: var(--font-heading);
    font-style: normal;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.cta-wrap .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.cta-wrap .btn {
    display: inline-block;
    margin-top: 32px;
    padding: 11px 37px;
    font-size: 1.6rem;
}

.cta-wrap .btn:hover {
    opacity: 0.7;
}

/* ========= BLOG ========== */
.blog-wrap {
    margin-top: 200px;
    margin-bottom: 200px;
}
.blog-wrap .title {
    display: flex;
    justify-content: center;
    font-family: var(--font-heading);
    font-style: normal;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    /* identical to box height, or 126% */

    letter-spacing: -0.02em;

    color: #171100;
}

.blog-wrap .text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 55px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;

    color: #696262;
}

.blog-wrap .main-content .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    /* or 167% */
    color: #5f5b53;
}

.blog-wrap .main-content .text {
    width: 39%;
}
.blog-wrap .blog-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-wrap .blog-each {
    max-width: 31.6%;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.blog-wrap .blog:first-child {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    border: none;
}

.blog-wrap .blog-img {
    max-width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.blog-wrap .blog-img:hover {
    opacity: 0.8;
}

.blog-wrap .blog-details {
    padding: 20px 20px 28px 20px;
}

.blog-wrap .blog-date {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog-wrap .blog-title {
    text-decoration: none;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog-wrap .blog-title:hover {
    text-decoration: underline;
}

.blog-wrap .issued-date {
    display: flex;
    align-items: center;
}

.blog-wrap .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    background: var(--primary-color);
    border-radius: 50%;
}

.blog-wrap .separate-line {
    margin: 12px 0;
    width: 160px;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog-wrap .blog-each .btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 14px;
    background-color: #171100;
}

.blog-wrap .blog-each:first-child .btn {
    background-color: var(--primary-color);
}

.blog-wrap .blog-each .btn:hover {
    opacity: 0.7;
}

.blog-wrap .slide-dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.blog-wrap .slide-dots .dot {
    margin-left: 6px;
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
}

.blog-wrap .slide-dots .dot:first-child {
    margin-left: 0;
}

.blog-wrap .slide-dots .active {
    background-color: var(--primary-color);
}

/* ========= FOOTER ========== */
.footer-wrap {
    background-color: #2e2100;
}

.footer-wrap .main-content {
    padding: 96px 0 38px 0;
}

.footer-wrap .footer-details {
    display: flex;
    justify-content: space-between;
}

.footer-wrap .footer-intro {
    width: 23%;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer-wrap .footer-intro .desc {
    margin: 18px 0;
}

.footer-wrap .social-icon {
    margin-right: 18px;
}

.footer-wrap .social-icon:hover {
    opacity: 0.7;
}

.footer-wrap .footer-lists {
    display: flex;
    justify-content: space-between;
}

.footer-wrap .list-each {
    margin-left: 130px;
    width: 137px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.footer-wrap .list-each:last-child {
    width: 250px;
}

.footer-wrap .list-each .separate-line {
    margin-top: 14px;
    margin-bottom: 28px;
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer-wrap .list-item,
.footer-wrap .contact-item {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer-wrap .list-item:hover {
    opacity: 0.7;
}

.footer-wrap .separate-line {
    margin-top: 26px;
    margin-bottom: 28px;
    height: 1px;
    background: #59554b;
}

.footer-wrap .copy-right {
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;

    color: #807d74;
}
